NEXT_PUBLIC_SUPABASE_URL=https://jzjdsttgzqaghuctfdws.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6amRzdHRnenFhZ2h1Y3RmZHdzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTk5MTQxMDgsImV4cCI6MjAzNTQ5MDEwOH0.YWc0LtYP0alD_yjAi250RHnTlX-LjumUJzCT7j5xDyI